# Бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib
/payment-service

# Тестовые файлы
*.test
*.out

# Go workspace
go.work
go.work.sum

# Переменные окружения 
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Логи
*.log

# OS
.DS_Store
Thumbs.db